:root {
  --primary-color: #254194;
}

.nav-title {
  color: var(--primary-color);
}

.nav-link-active {
  background-color: var(--primary-color);
  color: white;
}

.nav-logo {
  color: #ffc107;
}

.nav-primary-button {
  background-color: #ffc107;
  color: #000 !important;
}
